.budget-actuals-stats {
}
.budget-actuals-stats th {
  font-size: .8rem;
  text-align: right;
  padding-left: 1rem;
  font-weight: bold;
}
.budget-actuals-stats td {
  font-size: 0.65rem;
  text-align: right;
}
