@import url('https://code.highcharts.com/css/highcharts.css');
@import url('https://code.highcharts.com/dashboards/css/datagrid.css');
@import url('https://code.highcharts.com/dashboards/css/dashboards.css');

$chart-height: 250px;

h1#title {
  padding-top: 10px;
  margin: 0;
  background-color: #3d3d3d;
  text-align: center;
  color: #fff;
}

.highcharts-plot-line {
  stroke-dasharray: 2px;
  stroke: var(--highcharts-color-3);
}

.highcharts-plot-line-label {
  fill: var(--highcharts-color-3);
}

.highcharts-description {
  padding: 0 20px;
}

.highcharts-axis-labels.highcharts-xaxis-labels {
  font-size: x-small;
}
// Make all charts short..
.highcharts-container {
  height: 250px;
}

.key-stats-box {
  display: flex;
  flex-direction: column;
  padding: 1ex 1ex 1ex 1ex;
  align-items: center;
  height: 100%;
}

.key-stats-header {
  text-align: center;
  font-size: 1.8em;
  font-weight: bold;
  margin-bottom: 1ex;
  border-bottom: 1px dashed;
}

.key-stats-item {
  display: flex;
  flex-direction: column;

  text-align: center;

  line-height: 1.1;
  padding-bottom: 1ex;
}

.key-stats-value {
  font-size: 1em;
}

.key-stats-label {
  font-size: .6em;
}

.key-stats-primary {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 0.25ex;
}

.key-stats-primary {
  color: red;
}

.key-stats-secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1em;

  justify-content: space-between;

  color: grey;
}

.metric-history-header h1 {
  text-align: center;
  background-color: lightgrey;
  font-size: 1.8em;
  font-weight: bold;
}

.metric-history-cell .highcharts-dashboards-component {
  box-shadow: none;
}

.metric-history-row.highcharts-dashboards-layout {
  box-shadow: 1px 2px 2px grey;
  margin: 0.5ex;
}
