@import url('https://code.highcharts.com/css/highcharts.css');
@import url('https://code.highcharts.com/dashboards/css/datagrid.css');
@import url('https://code.highcharts.com/dashboards/css/dashboards.css');

:root {
      /* Colors for data series and points */
  --highcharts-color-1: #38b9ff;
  --highcharts-color-2: #9c9c9c;
}

$chart-height: 25ex;

h1#title {
  padding-top: 10px;
  margin: 0;
  background-color: #3d3d3d;
  text-align: center;
  color: #fff;
}

.highcharts-crosshair {
}

.highcharts-description {
  padding: 0 20px;
}

.highcharts-crosshair {
  stroke: violet;
}

.highcharts-axis-labels.highcharts-xaxis-labels {
  font-size: x-small;
}

// Make all charts short..
.highcharts-container {
  height: $chart-height;
}

.key-stats-box {
  display: flex;
  flex-direction: column;
  padding: 1ex 1ex 1ex 1ex;
  align-items: center;
  height: 100%;
  border-right: 1px dashed;
}

.key-stats-item-row {
  gap: 1ex;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  text-align: 'center';
}

.key-stats-item {
  display: flex;
  flex-direction: column;

  text-align: center;

  line-height: 1.1;
  padding-bottom: 1ex;
}

.key-stats-value {
  font-size: .8em;
}

.key-stats-label {
  font-size: .5em;
}

.key-stats-subvalue {
  color: #f4d06f;
  width: 100%;
}

.key-stats-variance-positive {
  color: #00cc00;
}

.key-stats-variance-negative {
  color: #e60000;
}

.key-stats-primary {
  text-align: center;
  font-size: 1.3em;
  margin-bottom: 0.25ex;
}

.key-stats-value-actuals {
  color: var(--highcharts-color-1);
}

.key-stats-value-budget {
  color: var(--highcharts-color-2);
}

.key-stats-value-variance {
}

.key-stats-secondary {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  gap: 1em;

  justify-content: space-between;

  color: grey;
}

.metric-history-header.highcharts-dashboards-component {
  border-radius: 0px;
  border-bottom: 1px solid lightgrey;
  margin: 0px 0px 0px 0px;
}

.key-stats-title {
  text-align: center;
  font-size: 1.4em;
  font-weight: bold;
}

.metric-history-cell .highcharts-dashboards-component {
  box-shadow: none;
}

.metric-history-cell.highcharts-dashboards-cell {
  box-shadow: none;
  border: none;
}

.metric-history-row.highcharts-dashboards-layout {
  box-shadow: 0 2px 2px -2px gray;
  margin-bottom: 0px;
  margin-top: 0px;
}
