$context-chart-row-height: 230px;

.hc-dashboard-row {
  display: flex;
}

.analysis-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.chart-title h3 {
  font-size: 1.2rem;
}

.chart-title h4 {
  font-size: 0.7rem;
  font-weight: normal;
}

// Needed to get the height defined for scrolling.
.hcdashboard {
  height: 100%;
  overflow: hidden;
}
.hcdashboard .highcharts-dashboards-wrapper {
  height: 100%;
  overflow: hidden;
}

.hcdashboard .highcharts-dashboards-layouts-wrapper {
  height: 100%;
}

.hcdashboard.hascontext .highcharts-dashboards-layouts-wrapper {
  display: grid;
  grid-template-rows: $context-chart-row-height auto;
}

.hcdashboard .highcharts-dashboards-layout.faceted-row {
  height: 100%;
  overflow: scroll;
}

.hcdashboard .highcharts-dashboards-layout.context-row {
  position: sticky;
  top: 0;
  background-color: #d3d3d3;
  overflow: hidden;
}

.hcdashboard .highcharts-dashboards-cell.context-cell div.chart-title h3 {
  font-size: 1rem;
  margin: 0.2ex 0.2ex;
}

.hcdashboard .highcharts-dashboards-cell.context-cell {
  min-width: 25%;
  max-width: 100%;
  min-height: $context-chart-row-height;
  max-height: $context-chart-row-height;
}
