.hc-dashboard-row {
  display: flex;
}

.analysis-title {
  font-size: 1.5rem;
  text-align: center;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
}

.chart-title h3 {
  font-size: 1.2rem;
}

.chart-title h4 {
  font-size: 0.7rem;
  font-weight: normal;
}
