.ba-chartstats-table {
}

.ba-chartstats-bad {
  color: red;
}

.ba-chartstats-good {
  color: green;
}

.ba-chartstats-table td {
  font-size: .7rem;
  text-align: center;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.ba-chartstats-table th {
  font-size: .5rem;
  text-align: center;
  font-weight: normal;
}

