.metric-history-header.highcharts-dashboards-component {
  border-radius: 0px;
  border-bottom: 1px solid lightgrey;
  margin: 0px 0px 0px 0px;
}

.metric-history-cell .highcharts-dashboards-component {
  box-shadow: none;
}

.metric-history-cell.highcharts-dashboards-cell {
  box-shadow: none;
  border: none;
}

.metric-history-row.highcharts-dashboards-layout {
  box-shadow: 0 2px 2px -2px gray;
  margin-bottom: 0px;
  margin-top: 0px;
}
