@import '../node_modules/highcharts/css/highcharts.css';
@import '../node_modules/@highcharts/grid-pro/css/grid-pro.css';
@import '../node_modules/@highcharts/dashboards/css/dashboards.css';

:root {
      /* Colors for data series and points */
  /*--highcharts-color-1: #38b9ff; */
  /*
  --highcharts-color-1: #0093f6;
  --highcharts-color-2: #9c9c9c;
  */
  --highcharts-color-1: #006aa3;
  --highcharts-color-2: #cccccc;
}

.highcharts-data-label {
}

.highcharts-data-label-color-1 {
  text-shadow: 0px 0px 6px black;
  color: white;
}

.highcharts-data-label-color-2 {
  text-shadow: 0px 0px 6px white;
  color: #555555;
}

.highcharts-crosshair {
}

.highcharts-description {
  padding: 0 20px;
}

.highcharts-crosshair {
  stroke: violet;
}

.highcharts-axis-labels.highcharts-xaxis-labels {
  font-size: x-small;
}

.highcharts-dashboards-cell {
  min-width: 300px;
  max-width: 100%;
  min-height: 500px;
}

@media screen and (min-width: 1500px) {
  .highcharts-dashboards-cell {
    min-width: 490px;
    max-width: 50%;
    min-height: 450px;
  }
}

// The data tables are waaay larger than the chart area.
.highcharts-data-table {
  height: 100%;
  overflow: auto;
}

